body {
    margin-top: 60px;
    margin-left: 20px;
    padding: 0;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #ddd;
}

th {
    text-align: left;
}

th, td {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover:not(.active) {
  background-color: #111;
}

nav ul li a.active {
  background-color: #04AA6D;
}